.btn {
  background-color: #04AA6D;
  text-align: center;
  line-height: 5px;
  color: white;
  padding: 12px;
  border: none;
  width: 2%;
  height: 2%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;

  margin-left: -100vh;

  float:right !important;
}

.btn_pagamento, .voltar_atras
{
  background-color: #04AA6D;
  text-align: center;
  line-height: 5px;
  color: white;
  padding: 12px;
  border: none;
  width: 15%;
  height: 2%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;

  position: relative;
  left: -30vw;
  top: 10vh;

  float:right !important;
}

.voltar_atras
{
  left: -40vw;
}


.btn:hover, .btn_pagamento:hover, .voltar_atras:hover{
  background-color: #45a049;
}

.amm-width
{
  text-align: center;
    width: 50%;
    height: 20%;
    margin-top: 15px;
    margin-left: 25px;
  position: relative;
  top: -1.5vh;
}

.inp-width{
  width: 3%;
  height: 2%;

}

.form-inline {
    display: inline-block;
    overflow: auto;
    position: relative;
}

.tablebody{
   width:20%;
   padding: 10px;
 }

.preco
{
  color: green;
}

.precoC
{
  position: fixed;
  left: 47vw;
}

.precoA
{
  position: fixed;
  left: 47vw;
}

.precoS
{
  position: fixed;
  left: 47vw;
}

.footer-container
{
  position:fixed;
  left: 0;
  bottom: 0;
}

table
{
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 -1em;
  border: 3px solid #45A049;
}

.tableheader
{
  position: relative;
  top: -2vh;
  left: 47vw;
}

.div_table
{
  margin-top:60px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
