.plan-visit-main-content-container {
  display: flex;
  padding-left: 30vh;
}
.plan-visit-main-content-container .map-container {
  position: relative;
  height: 80vh;
  width: 90.3vh;
  margin: 0 0 0 0;
}

.plan-visit-main-content-container .animals-list {
  position: relative;
  height: 80vh;
  width: 90.3vh;
  margin: 0 0 0 0;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 16px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 50%;
  text-align: center;
}

.content ul {
  list-style-type: none;
}

.content li {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.content li:hover {
  background-color: #d2d2d2;
}

.submitAnimalsButton {
  width: 50%;
}
