* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bellota Text", cursive;
    width: 100%;
}

.header {
    margin-top: 0.5%;
}

.logo {
    margin-left: 5%;
    max-width: 7%;
}

.map-container {
    width: 50%;
    margin: 0 auto;
}

.map-container .map {
    width: 100%;
    height: auto;
}

.map-container .animal-button {
    position: absolute;
    width: 50%;
    left: 25%;
    background-color: transparent;
}

.map-container .animal-button:hover {
    transform: scale(1.1)
}