* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bellota Text", cursive;
    width: 100%;
}

.header {
    margin-top: 0.5%;
}

.logo {
    margin-left: 5%;
    width: 7%;
}

.map-container {
    position: relative;
    height: 80vh;
    width: 90.3vh;
    margin: 0 auto;
}

.map.map-container .map {
    height: 100%;
    width: 100%;
}

.map-container .bear-button {
    position: absolute;
    width: 33px;
    height: auto;
    top: 8.77vh;
    left: 44.53vh;
    background-color: transparent;
    border: 0px;
}

.map-container .elephant-button {
    position: absolute;
    width: 60px;
    height: auto;
    top: 34.49vh;
    left: 10.67vh;
    background-color: transparent;
    border: 0px;
}

.map-container .bear-button:hover {
    transform: scale(1.2);
}

.map-container .elephant-button:hover {
    transform: scale(1.2);
}