* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bellota Text", cursive;
  width: 100%;
}

.header {
  background: rgb(245, 245, 245);
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
  height: fit-content;
}

.header a {
  text-decoration: none;
  color: rgb(127, 214, 149);
  font-size: 24px;
}
.header a:hover {
  color: rgb(49, 190, 84);
}

.logo-container {
  width: 10%;
  align-items: center;
}

.nav-subsections {
  margin-left: 30px;
  justify-content: start;
  display: grid;
  grid-template-columns: 200px 200px;
}

.toggle {
  position: relative;
  width: 6em;
  height: 0.6em;
  border-radius: 2em;
  border: 0.06em solid #9f9f9f;
  background-image: linear-gradient(#f2f2f2, #fff, #f2f2f2);
  margin: 1.04em 0.6em;
  cursor: pointer;
  filter: drop-shadow(0.06em 0.06em 0.04em rgba(0, 0, 0, 0.3));
}

.toggle-btn::after {
  position: absolute;
  top: -1.3rem;
  left: 0;
  width: 50%;
  font-size: 2em;
  text-align: center;
  transition: all 500ms cubic-bezier(0.34, 0.78, 0.55, 1.4);
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-checkbox:checked + .toggle-btn::after {
  left: 50%;
}

.young-old .toggle-btn::after {
  content: "👦";
}

.young-old .toggle-checkbox:checked + .toggle-btn::after {
  content: "👨";
}

.main-content-container {
  background: rgb(245, 245, 245);
}

.map-container {
    position: relative;
    height: 80vh;
    width: 90.3vh;
    margin: 0 auto;
}

.map.map-container .map {
    height: 100%;
    width: 100%;
}

.map-container .bear-button {
    position: absolute;
    width: 4.26vh;
    height: auto;
    top: 8.77vh;
    left: 44.48vh;
    background-color: transparent;
    border: 0px;
}

.map-container .elephant-button {
    position: absolute;
    width: 8.05vh;
    height: auto;
    top: 34.49vh;
    left: 10.66vh;
    background-color: transparent;
    border: 0px;
}

.map-container .cheetah-button {
  position: absolute;
  width: 4.56vh;
  height: auto;
  top: 18.73vh;
  left: 10.84vh;
  background-color: transparent;
  border: 0px;
}

.map-container .giraffe-button {
  position: absolute;
  width: 5.21vh;
  height: auto;
  top: 42.61vh;
  left: 15.93vh;
  background-color: transparent;
  border: 0px;
}

.map-container .hippo-button {
  position: absolute;
  width: 4.38vh;
  height: auto;
  top: 33.6vh;
  left: 21.68vh;
  background-color: transparent;
  border: 0px;
}

.map-container .lion-button {
  position: absolute;
  width: 3.91vh;
  height: auto;
  top: 25.18vh;
  left: 22.21vh;
  background-color: transparent;
  border: 0px;
}

.map-container .rhino-button {
  position: absolute;
  width: 4.03vh;
  height: auto;
  top: 40.95vh;
  left: 48.09vh;
  background-color: transparent;
  border: 0px;
}

.map-container .tiger-button {
  position: absolute;
  width: 6.81vh;
  height: auto;
  top: 54.93vh;
  left: 35.48vh;
  background-color: transparent;
  border: 0px;
}

.map-container .dolphin-button {
  position: absolute;
  width: 2.07vh;
  height: auto;
  top: 75.26vh;
  left: 41.58vh;
  background-color: transparent;
  border: 0px;
}

.map-container .bear-button:hover {
    transform: scale(1.3);
}

.map-container .elephant-button:hover {
  transform: scale(1.3);
}

.map-container .cheetah-button:hover {
  transform: scale(1.3);
}

.map-container .giraffe-button:hover {
  transform: scale(1.3);
}

.map-container .hippo-button:hover {
  transform: scale(1.3);
}

.map-container .lion-button:hover {
  transform: scale(1.3);
}

.map-container .rhino-button:hover {
  transform: scale(1.3);
}

.map-container .tiger-button:hover {
  transform: scale(1.3);
}

.map-container .dolphin-button:hover {
  transform: scale(1.3);
}

.footer-container {
  background: rgb(14, 156, 71);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

.footer-container a {
  text-decoration: none;
  color: white;
}

.footer-social-media {
  margin-left: 30px;
  justify-content: end;
  display: grid;
  grid-template-columns: 100px 100px;;
}

.footer-container {
  background: rgb(14, 156, 71);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

.footer-container a {
  text-decoration: none;
  color: white;
}

.footer-social-media {
  margin-left: 30px;
  justify-content: end;
  display: grid;
  grid-template-columns: 100px 100px;
}
